# Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
venv/
drone-env/

# Environment & Secrets
.env
*.key
*.pem

# Solana / Anchor
target/

# JSON (keypairs etc.)
*.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db
